---
layout: archive
title: "Projects"
permalink: /projects_completed/
author_profile: true
---

<b><u>Previous/Current Research Theses Supervised</u></b>
<strong>BS Projects Supervised</strong>
<ul>
  <li>Wheat Market Analysis and Rate Prediction Using AI. 2024 (Supervised)</li>
</ul>

<strong>Master Thesis Supervised / Co-Supervised</strong>
<ul>
  <li>“Handwritten Hindko Words Recognition using deep neural network”, 2023. (Supervised)</li>
  <li>“Techno-economics of smart energy systems”, 2023. (Supervised)</li>
  <li>“Machine Learning for load forecasting in the energy systems” 2023. (Supervised)</li>
  <li>“Local Language Voice Recognition and Translation using NLP” 2023 (Co-supervised)</li>
  <li>“Research on machine learning techniques used for prediction on business retail” 2023 (Co-supervised)</li>
  <li>“Anomaly detection with self-supervised learning using deep edge intelligence (DEI) approach” 2023 (Co-supervised)</li>
  <li>“Suspicious Movement Detection in Crowds using AI driven UAS”, 2023 (Co-supervised)</li>
  <li>“Use of reinforcement learning in predictive maintenance”, 2023 (Co-supervised)</li>
</ul>

<strong>PhD</strong>
<ul>
  <li>“An Integrated Approach for Agricultural Monitoring Based on Internet of Things (IoT), Remote Sensing, and Deep Learning”, 2023 (Co-supervised)</li>
</ul>


{% include base_path %}

{% for post in site.projects_completed reversed %}
  {% include archive-single.html %}
{% endfor %}
